
// Colors
$grey: #333333;
$light-grey: #999999;


//Navigation
$nav-background: $grey;
$nav-text-color: white;
$nav-text-active-color: rgba(255,255,255,0.9);

// Site
$site-top-background: $light-grey;
$site-top-text-color: white;
$site-bottom-background: $light-grey;
$site-bottom-text-color: white;

// Clock variables
$clock-text-color: white;
$clock-bg-color: #B5D0E2;
$clock-border-color: #2099E8;


//page-title
$title-color: rgba(66,150,231,1);
$space-large: 2.5rem;
